<div class="row">
    <h4>My Stories</h4>
    <div class="col s12 m12">
        
        <table class="bordered">
            {{#if stories}}
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Comment</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                {{#each stories}}
                <tr>
                    <td>{{title}}</td>
                    <td>{{status}}</td>
                    <td>{{allowComment}}</td>
                    <td>
                        <a class="btn left-align" href="/stories/edit/{{id}}">
                            <i class="fa fa-pencil"></i>Edit
                        </a>
                        <form action="/stories/delete/{{id}}?_method=DELETE" method="post" id="delete-form">
                            <input type="hidden" name="_method" value="DELETE">
                            <button class="btn red">Delete</button>
                        </form>
                    </td>
                </tr>
            </tbody>
             {{/each}} {{else}}
        <p>No Stories</p>
        {{/if}}
        </table>
       
    </div>

</div>