<div class="row">
    <h5>My Stories</h5>
    <div class="col s12 m12">
        
        <table class="bordered">
            {{#if stories}}
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Comment</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                {{#each stories}}
                <tr>
                    <td>{{title}}</td>
                    <td>{{status}}</td>
                    <td>{{allowComment}}</td>
                    <td>
                        <a class="btn left-align btn-small" href="/stories/edit/{{id}}">
                          <span> <i class="material-icons">create</i> </span>
                        </a>
                        <form action="/stories/delete/{{id}}?_method=DELETE" method="post" id="delete-form">
                            <input type="hidden" name="_method" value="DELETE">
                            <button class="btn red btn-small"><span> <i class="material-icons">delete</i> </span></button>
                        </form>
                    </td>
                </tr>
            </tbody>
             {{/each}} {{else}}
             <div class="center welcome-margin">
             <a href="/stories/add" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
            <p>Add Story</p>
            </div>
        {{/if}}
        </table>
       
    </div>

</div>